<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
      <div>
      <h1>wikisurf</h1>
    </div>
</head>
<body>
    <p>Welcome to wikisurf, a wikipedia visualization.</p>
  <canvas id="viewport" width="1500" height="1000"></canvas>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <!-- run from the original source files: -->
  <!-- <script src="../../src/etc.js"></script>
       <script src="../../src/kernel.js"></script>
       <script src="../../src/graphics/colors.js"></script>
       <script src="../../src/graphics/primitives.js"></script>
       <script src="../../src/graphics/graphics.js"></script>
       <script src="../../src/tween/easing.js"></script>
       <script src="../../src/tween/tween.js"></script>
       <script src="../../src/physics/atoms.js"></script>
       <script src="../../src/physics/physics.js"></script>
       <script src="../../src/physics/system.js"></script>
       <script src="../../src/dev.js"></script> -->

  <!-- run from the minified library file: -->
  <script src="{{ url_for('static', filename='lib/arbor.js') }}"></script>  

  <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
  <footer>Brandon and Ayzaan</footer>
</html>